<template>
  <div class="corpo">
    <h1 class="titulo font-weight-bold" v-text="titulo"></h1>

    <section v-if="mensagem">
    <p class="centralizado alert alert-danger" v-text="mensagem"></p>
    </section>
    <!-- <section v-else>
     <div v-if="loading">Carregando...</div>
    </section>-->

      <!--v-on:input="filtro = $event.target.value" -->
    <b-input
      type="search"
      class="filtro"
      v-model="filtro"
      placeholder="filtre por parte do titulo"
    />

    <ul style="padding-top: 15px;" class="lista-fotos">
      <li class="lista-fotos-item" v-for="foto in fotosComFiltro" :key="foto.id">
        <meu-painel v-bind:titulo="foto.titulo">
          <!-- A diretiva v-bind realiza uma associação dos dados em data() para a view. 
            Qualquer mudança nos dados fará com que a view seja atualizada para representar o novo valor.
            
            A diretiva v-on realiza uma associação da view para os dados. Qualquer 
            mudança nos dados em data() atualizará a view associada a ela.

          Tudo que tiver dentro da tag do componente cai no slot definido no template do componentes-->
          <imagem-responsiva
            slot="imagem" 
            v-meu-transform:scale.animacao="1.2"
            :url="foto.url" 
            :titulo="foto.titulo">
          </imagem-responsiva>
          <!-- v-meu-transform é a diretiva que eu criei que aplica rotate do CSS no elemento do DOM 
               v-meu-transform:issoEArg v-meu-transform.isso.sao.modificadores --> 
          
          <router-link :to="{ name : 'altera', params: { id: foto._id}}">
          <meu-botao
            style="padding-top: 15px;"
            tipo="button"
            acao="Alterar"
            :confirmacao="false"
            estilo="success"
            :estiloStyle="true"
          ></meu-botao></router-link>
          <meu-botao
            style="padding-top: 5px;padding-bottom: 10px;"
            tipo="button"
            acao="Remover"
            @botaoAtivado="remove(foto, $event)"
            :confirmacao="true"
            estilo="danger" 
          ></meu-botao> 
          <!-- Faço data binding no confirmacao mesmo não sendo um valor definido no componente pai.
          Sem o binding, o valor é passado para dentro do componente botao como texto e não como boolean -->
        </meu-painel>
      </li>
    </ul>
  </div>
</template>

<script>
import Painel from "../shared/painel/Painel.vue";
import ImagemResponsiva from "../shared/imagem/ImagemResponsiva.vue";
import Botao from "../shared/botao/Botao.vue";
import FotoService from "../../domain/service/FotoService"

export default {
  components: {
    "meu-painel": Painel,
    "imagem-responsiva": ImagemResponsiva,
    "meu-botao": Botao
  },

  data() {
    return {
      titulo: "Alurapic",
      fotos: [],
      filtro: "",
      loading: true,
      mensagem: ""
    };
  },

  methods: {
    remove(foto, $event) {
      alert($event);
      alert(foto.titulo + " excluída com sucesso! " + $event);

      console.log(foto);

      this.service.remove(foto._id) // O id do objeto é o parâmetro passado no endereço do recurso 
        .then(() => {
          let indice = this.fotos.indexOf(foto); // // acho a posição da foto na lista
          this.fotos.splice(indice, 1); // a instrução altera o array
          this.mensagem = "Foto removida com sucesso!"
        },
        error => this.mensagem = error.message);
    }
  },

  computed: {
    fotosComFiltro() {
      if (this.filtro) {
        let expressaoReg = new RegExp(this.filtro.trim(), "i");
        return this.fotos.filter(foto => expressaoReg.test(foto.titulo));
      } else {
        return this.fotos;
      }
    },

    mensagemTitulo() {
      return `O titulo ${this.filtro} possui ${this.filtro.length} caracteres`;
    }
  },

  created() { // Inicialização do componente
    this.service = new FotoService(this.$resource);  // $resource é um objeto mais especializado focado no consumo de API's que seguem o Padrão REST
    
    // Quando adiciono o resource aqui consigo acessar em outros métodos do componente
    this.service  
    .lista() // O Http executa o método get para esse endereço e me retorna uma promisse
    .then(response => this.fotos = response // Atribuo os dados retornados na minha lista de fotos
    , error => this.mensagem = error.message);
  }
};
</script>

<style>
.titulo {
  text-align: center;
}

.corpo {
  font-family: Helvetica, sans-serif;
  margin: 0 auto;
  width: 96%;
}

.lista-fotos {
  list-style: none;
}

.lista-fotos .lista-fotos-item {
  display: inline-block;
}

.filtro {
  display: block;
  width: 50%;
  margin-left: 25%;
}

.centralizado {
  text-align: center;
}
</style>
