<template>
  <div>
    
    <h1 v-if="foto._id" class="centralizado font-weight-bold">Alteração</h1>
    <h1 v-else class="centralizado font-weight-bold">Cadastro</h1>
    <!-- A diretiva v-if e v-else são parecidas com a diretiva v-show, mas enquanto o v-show apenas esconde o elemento do DOM
    através da propriedade "display: none" por debaixo dos panos. O uso do v-if e v-else literalmente removem e adicionam o elemento no DOM. -->

    <h2 class="centralizado" v-text="foto.titulo"></h2>

    <section class="alert alert-danger" v-if="erro">
      <p>Pedimos desculpas, não estamos conseguindo recuperar as informações no momento. Por favor, tente novamente mais tarde.</p>
    </section>

    <form class="centralizado-form" @submit.prevent="grava()">
      <!-- O Vue disponibiiza o modificador prevent que equivale
    ao event.preventDefault() padrão do JavaScript que cancela o comportamento padrão
      do evento de recarregar a página-->
      <div class="controle" style="margin-bottom: 10px;">
        <label for="titulo">TÍTULO</label>
        <b-form-input
        v-validate data-vv-rules="required|min:3|max:10" name="titulo" 
        style="width: 800px;"
        id="titulo" 
        v-model.lazy="foto.titulo" 
        class="largura" 
        autocomplete="off" />
        <!-- @input="foto.titulo = $event.target.value" :value="foto.titulo" 
        O modificador .lazy faz com que a atualização do titulo entrada pelo usuário 
        só será ser associada à foto.url quando ele deixar o campo-->
        <span class="mensagem-erro" v-show="errors.has('titulo')">{{ errors.first('titulo') }}</span>
      </div>

      <div class="controle" style="margin-bottom: 10px;">
        <label for="url">URL</label>
        <b-form-input
        v-validate data-vv-rules="required" name="url"
        style="width: 800px;" 
        :state="nameState" 
        id="url" 
        v-model.lazy="foto.url" 
        autocomplete="off" />
        <!-- @input="foto.url = $event.target.value" v-bind:value="foto.url" 
        O modificador .lazy faz com que a atualização da URL entrada pelo usuário 
        só será ser associada à foto.url quando ele deixar o campo-->
        <span class="mensagem-erro" v-show="errors.has('url')">{{ errors.first('url') }}</span>
        <imagem-responsiva v-show="foto.url" style="
          width: auto;
          padding-top: 20px;
          padding-left: 250px;" 
          :url="foto.url" :titulo="foto.titulo">
        </imagem-responsiva>
      </div>

      <div class="controle" style="margin-bottom: 5px;">
        <label for="descricao">DESCRIÇÃO</label>
        <textarea
          style="width: 800px;" 
          id="descricao"
          v-model="foto.descricao"
          autocomplete="off"
          value="foto.descricao"
        />
        <!-- @input="foto.descricao = $event.target.value" :value="foto.descricao"
        A diretiva v-model faz isso(Two-way data binding)-->
      </div>

      <div class="centralizado-botao" style="margin-bottom: 10px;">
        <meu-botao acao="Gravar" :estiloStyle="true" estilo="success" tipo="submit"></meu-botao>
        <router-link :to="{ name: 'home'}">
          <meu-botao 
            style="padding-top: 5px;"     
            :estiloStyle="true"
            acao="Voltar" 
            estilo="warning"
            tipo="button">
          </meu-botao>
        </router-link>
      </div>
    </form>
  </div>
</template>

<script>
import Botao from "../shared/botao/Botao.vue";
import ImagemResponsiva from "../shared/imagem/ImagemResponsiva.vue";
import Foto from "../../domain/foto/Foto";
import FotoService from "../../domain/service/FotoService";

export default {
  computed: {
    nameState() {

      if(this.foto.url.length == 0) {
        return;
      } else if(this.foto.url.length > 1) {
        this.mensagem = '';
        return true;
      } else {
        this.mensagem = "A URL precisa ser maior que 2 caracteres!"
        return false;
      }
    }
  },

  components: {
    "meu-botao": Botao,
    "imagem-responsiva": ImagemResponsiva
  },

  data() {
    return {
      foto: new Foto(),
      id: this.$route.params.id, // Pego o parâmetro da url, no caso o id onde defini na rota altera
      erro: false,
      mensagem: "",
    };
  },

  methods: {
    grava() {
      console.log(this.foto);

        this.$validator.validateAll()
        .then(success => {
          if(success) {
            this.service.cadastra(this.foto)
            .then(() => {
            
            if(this.id) this.$router.push({ name: 'home'}) // O VueRouter disponibiliza no global view instance o objeto $router que possui o método push. 
            // O $router gera uma navegação através do nosso componente, como se fosse "redirect"
            this.foto = new Foto();
          }, 
            error => {
              console.log(error);
              this.erro = true;
          });
        }
      }) 
    }
  },

  created() {
    this.service = new FotoService(this.$resource);

    if(this.id) {
      this.service.busca(this.id)
      .then(response => this.foto = response);
    }
  }
};
</script>

<style scoped>
.centralizado {
  text-align: center;
}
.controle {
  font-size: 1.2em;
  margin-bottom: 20px;
}
.controle label {
  display: block;
  font-weight: bold;
}

.controle label + input,
.controle textarea {
  width: 100%;
  font-size: inherit;
  border-radius: 5px;
}

.centralizado {
  text-align: center;
}

.centralizado-botao {
   padding-left: 350px;
}

.centralizado-form {
  padding-left: 250px;
}

.mensagem-erro {
  color: red;
}
</style>