<template>
  <div>
    <meu-menu style="margin-bottom: 15px;" :rotas="routes"></meu-menu>

    <transition name="pagina-fade">
      <router-view></router-view>
    </transition>
  </div>
</template>

<script>
import Menu from "./components/shared/menu/Menu.vue";
import { routes } from "./routes";

export default {
  components: {
    "meu-menu": Menu
  },

  data() {
    return {
      routes: routes.filter(route => route.menu) // Filtro minhas rotas, onde para cada item do meu array, pego a rota e vejo se é true,
      // se for vai entrar na minha lista que vai ser jogada na propriedade routes
    };
  }
};
</script>
<style>
.corpo {
  font-family: Helvetica, sans-serif;
  margin: 0 auto;
  width: 96%;
}

.pagina-fade-enter,
.pagina-fade-leave-active {
  opacity: 0;
}

.pagina-fade-enter-active,
.pagina-fade-leave-active {
  transition: opacity 0.3s;
}
</style>
